<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>CRDM</title>
</head>
<body>

    <h1>Cadatro de Chamados:</h1>
    <form method="post">
        NChamado: <input type="test" value=""nChamado="nChamado"/>
        Local: <input type="test" value=""local="local"/>
        Horario: <input type="test" value=""horario="horario"/>
        TimeEstimated <input type="test" value=""timeEstimated="timeEstimated"/>

        <button type="submit">Salvar</button>

    </form>
</body>


</html>